.form{
    margin-top: 20px;
}

.row-last{ 
    margin-bottom: 10px;   
}

button {
      margin: 10px;
}

 .jumbotron {
     background-image: url(../images/leaves.jpg);
     /* color: lightgray; */
     opacity: 0.7;
 }  

h1{
    color: lightgray
}
  
